@{ ViewData["Title"] = "Inicio"; }

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>
        Este sitio fue hecho para tener a la mano un mezclador de ingredientes para el juego
        <a href="https://elderscrolls.bethesda.net/es/skyrim/" target="_blank">The Elder Scrolls V: Skyrim</a>.
    </p>
    <p>
        La información sobre <a href="https://elderscrolls.fandom.com/wiki/Effects_(Skyrim)">efectos</a> e
        <a href="https://elderscrolls.fandom.com/wiki/Ingredients_(Skyrim)" target="_blank">ingredientes</a> fue tomada
        de la <a href="https://elderscrolls.fandom.com/wiki/The_Elder_Scrolls_Wiki" target="_blank">Wiki de Elder Scrolls</a>
    </p>
    <p>Puedes encontrar el repositorio en <a href="https://github.com/mdanieltg/Alchemy" target="_blank">GitHub.</a></p>
</div>
